<div class="APcontainer">

<h1>{{org.name}}</h1>


    <div id="APbutton">
        <button class="btn btn-success">Message</button>
        <button class="btn btn-primary">Connect</button> <br>
    </div>
        <div id="APlogo">
            <img src=" {{org.logo}}" alt="Logo Picture">
            <a href="/organization/{{org._id}}/edit">Edit</a>
        </div>
            <div id="APdescription" class="APmaster">
                <h3>Description</h3><br>
                <a href="/organization/{{org._id}}/edit">Edit</a>
            </div>
            {{#if this.preferences}}
                <div id="APpreference" class="APmaster">
                    <ul>
                        <li><h3>Talent Preference List</h3></li>
                        <li>Height Range: {{org.height}} </li>
                        <li>Eye Colors: {{org.eye}} </li>
                        <li>Waists: {{org.waist}} </li>
                        <li>Busts: {{org.bust}} </li>
                        <li>Hair Colors: {{org.hair}} </li>
                        <li><a href="/organization/{{org._id}}/edit">Edit</a></li>
                    </ul>
                </div>
                {{else}}
                {{/if}}
                <br><br>
                    <div id="APcontactinfo" class="APmaster">
                        <ul class="TPul">
                            <li><h3>Contact Information</h3></li>
                            <li>Address: {{org.address}} </li>
                            <li>City: {{org.city}} </li>
                            <li>State: {{org.state}} </li>
                            <li>Zip Code: {{org.zip}} </li>
                            <li>Country: {{org.country}} </li>
                            <li>Phone Number: {{org.phone}} </li>
                            <li>Website: {{org.site}} </li>
                            <li><a href="/organization/{{org._id}}/edit">Edit</a></li>
                        </ul>
                    </div> <br><br>
                        <div id="APmessagebutt" class="APmaster">

                        </div>

    </div>
