
    <h1>Talent Comp Card</h1>

    <div id="TPbutton">
        <button class="btn btn-success">Message</button>
        <button class="btn btn-primary">Connect</button> <br>
    </div>
    <div class="Cheadshot">
        <img src="{{user.cover}}" alt="Cover Photo">
        <a href=""/talent/{{user._id}}/edit"">Edit</a>
    </div> <br><br>
    <div class="CMastercon">
    <div class="Ccontent-container">
        <div class="Cinner-square">
            <img src="{{user.pic1}}" alt="Waist Photo">
            <a href=""/talent/{{user._id}}/edit"">Edit</a>
        </div>
        <div class="Cinner-square">
            <img src="{{user.pic2}}" alt="Cover Photo">
            <a href=""/talent/{{user._id}}/edit"">Edit</a>
        </div>
        </div>
        <div class="Ccontent-container2">
        <div class="Cinner-square">
            <img src="{{user.pic3}}" alt="Cover Photo">
            <a href=""/talent/{{user._id}}/edit"">Edit</a>
        </div>
        <div class="Cinner-square">
            <img src="{{user.pic4}}" alt="Cover Photo">
            <a href=""/talent/{{user._id}}/edit"">Edit</a>
        </div>
        </div>
        </div>
     <br>

    <div class="Csharecont">
        <button class="btn btn-primary btn-lg Cshare"  onclick="myFunction()">Share Link</button>
        <div id="myDIV">
        Link Generation
        </div>
        
        <p>Anyone with this link can view your page.</p>

    </div>

    <div>
            <a href="">Back to Profile</a>
    </div>