    <h1>{{user.firstname}} {{user.lastname}}</h1>
    <div id="TPbutton">
        <button class="btn btn-success">Message</button>
        <a href="" class="btn btn-primary">Connect</a> <br>
    </div >

    <h3 id="TPort">Portfolio</h3>

        <div id="TPortforlio">
            <a href="">Previous</a>
            <div id="TPic1">
            <img src="" alt="Picture 1">
            </div>
            <div id="TPic2">
            <img src="" alt="Picture 2">
            </div>
            <a href="">Next</a>
            <a href="">Edit</a>
        </div><br>

    
    <div id="TPcontainer">
        <div id="TPmeas">
            
            <ul>
                <li><h3>Measurements</h3></li>
                <li>Height Range: {{user.height}} </li>
                <li>Eye Colors: {{user.eye}} </li>
                <li>Waists: {{user.waist}} </li>
                <li>Busts: {{user.bust}} </li>
                <li>Hair Colors: {{user.hair}} </li>
                <li><a href="">Edit</a></li>
            </ul>
            
        </div>
        <div id="TPbio">
            <ul>
                <li><h3>Bio: {{user.bio}}</h3></li>
                <li>Age: {{user.age}}</li>
                <li>Race: {{user.race}} </li>
                <li>Country: {{user.country}} </li>
                <li><a href="">Edit</a></li>
            </ul>
        </div>
    </div>

        <div id="TPlink">
            <button class="btn btn-primary btn-lg" aria-pressed="true" onclick="myFunction()">Share Link</button>
        <div id="myDIV">Link Generation</div>
        
            <p>Anyone with this link can view your page.</p>

        </div>

        <div>
            <a href="" id="TPback">Back to Profile</a>
        </div>

        <div id="TPcontacts">
            <a href="">Contacts</a>
        </div>

    

  