    <h1>{{user.firstname}} {{user.lastname}}</h1>
    <div id="TPbutton">
        <button class="btn btn-success">Message</button>
        <a href="" class="btn btn-primary">Connect</a> <br>
    </div >

    <h3 id="TPort">Portfolio</h3>

        <div id="TPortforlio">
            <a href="">Previous</a>
            <div id="TPic1">
            <img src="{{user.full}}" alt="Picture 1">
            <a href="/talent/{{user._id}}/photos/edit">Edit</a>
            </div>
            <div id="TPic2">
            <img src="{{user.closeup}}" alt="Picture 2">
            <a href="/talent/{{user._id}}/photos/edit">Edit</a>
            </div>
            <div id="TPic2">
            <img src="{{user.waistup}}" alt="Picture 3">
            <a href="/talent/{{user._id}}/photos/edit">Edit</a>
            </div>
            <div id="TPic2">
            <img src="{{user.profile}}" alt="Picture 4">
            <a href="/talent/{{user._id}}/photos/edit">Edit</a>
            </div>
            <a href="">Next</a>
        </div><br>

    <div id="TPcontainer">
        <div id="TPmeas">
            <ul class="TPul">
                <li><h3>Measurements</h3></li>
                <li>Height: {{user.height}} </li>
                <li>Eye Color: {{user.eye}} </li>
                <li>Waist: {{user.waist}} </li>
                <li>Bust: {{user.bust}} </li>
                <li>Hair Color: {{user.hair}} </li>
                <li><a href="/talent/{{user._id}}/edit">Edit</a></li>
            </ul>
        </div>

        <div id="TPbio">
            <ul class="TPul">
                <li><h3>Bio </h3></li>
                <li>{{user.bio}}</li><br><br>
                <li>Age: {{user.age}}</li>
                <li>Race: {{user.race}} </li>
                <li>Country: {{user.country}} </li>
                <li><a href="/talent/{{user._id}}/edit">Edit</a></li>
            </ul>
        </div>
    </div>

        <div id="TPlink">
            <button class="btn btn-primary btn-lg" aria-pressed="true" onclick="myFunction()">Share Link</button>
        <div id="myDIV">Link Generation</div>
        
            <p>Anyone with this link can view your page.</p>

        </div>

        <div>
            <a href="" id="TPback">Back to Profile</a>
        </div>
        <div>
            <a href="/compcard" id="TPback">Comp Card</a>
        </div>
        <div id="TPcontacts">
            <a href="">Contacts</a>
        </div>

    

  